@import url(https://fonts.googleapis.com/css?family=Dosis:300|Lato:300,400,600,700|Roboto+Condensed:300,700|Open+Sans+Condensed:300,600|Open+Sans:400,300,600,700|Maven+Pro:400,700);
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
a {
  color: #BBB;
}

.page-login:before {
  font-family: "Open Sans";
  font-size: 16px;
  color: White;
  font-smoothing: antialiased;
  font-weight: 600;
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  background-color: black;
  background: url("/images/home.jpg") no-repeat center center fixed; 
  background-size: cover;
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}


.box-login {
  overflow-x: hidden;
  position: absolute;
  top : 55px;
  overflow: hidden;
  border: none;
  background-color: rgba(61, 61, 61, 0.7);
  -webkit-box-shadow: -4px -4px 9px 0 rgba(0,0,0,0.3) ;
  box-shadow: -4px -4px 9px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}

.contenido .title {
  text-align: center;
  font-size: 3.0rem;
  font-weight: 600;
  padding-bottom: 30%;
}

.input_login {
  width: 100%;
  font-size: 1.2rem;
  font-family: "Open Sans";
  margin: 10px 0px;
  border: none;
  padding: 10px;
  color: black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.contenido label {
  display: inline-block;
  width: 50px;
  height: 20px;
  cursor: pointer;
  position: relative;
  margin-left: 5px;
  margin-right: 10px;
  top: 5%;
}

.contenido span {
  font-size: 1.3rem;
}

.contenido button {
  width: 100%;
  font-size: 1.5rem;
  padding: 10px;
  margin: 20px 0px;
  background-color: #66A756;
  color: White;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.contenido .social {
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.contenido .social span {
  display: inline-block;
  vertical-align: baseline;
  padding: 0 20px;
}
.contenido .social span:before, .contenido .social span:after {
  content: '';
  display: block;
  width: 500px;
  position: absolute;
  top: 0.9em;
  border-top: 1px solid White;
}
.contenido .social span:before {
  right: 75%;
}
.contenido .social span:after {
  left: 75%;
}
.contenido .buttons {
  width: 100%;
  margin: 30px 0px;
}
.contenido .buttons button {
  float: left;
  width: 30%;
  margin: 0px 1.5%;
}
.contenido .buttons button i {
  padding-right: 7px;
}
.contenido .buttons button.facebook {
  background-color: #4464B2;
}
.contenido .buttons button.twitter {
  background-color: #28A9E0;
}
.contenido .buttons button.google {
  background-color: #DA4735;
}
.contenido .buttons:after {
  content: "";
  display: block;
  clear: both;
}
.contenido .already {
  text-align: center;
  font-size: 0.9rem;
}


